$texas-rose: #FFBB55;
$tuna: #333344;
$gun-powder: #444455;
$porsche: #EEBB66;
$pickled-bluewood: #334455;
$dolphin: #666677;
$storm-gray: #777788;
$flax: #EECC88;
$slate-gray: #778899;
$cape-cod: #445555;
$steel-gray: #222233;
$almond: #EEDDCC;
$santas-gray: #9999AA;
$titan-white: #EEEEFF;
$waterloo: #777799;
$malta: #BBAA99;
$bone: #DDCCBB;
$coral-reef: #CCBBAA;


